.cont{
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 460px;
    height: 460px;
    margin: 20px auto;
    overflow: hidden;
    background-color: var(--redcolor);
    background-color: var(--semi-white);
}

.cont img{
    width: 100%;
}

.cont{
    position: relative;
    max-width: 300px;
    min-width: 300px;
    max-height: 460px;
    height: 460px;
    background-color: var(--redcolor);
}


.des{
    padding: 20px;
}
.cont .des{
    color: black ;
}

.cont button{
    background-color:white;
    color: var(--primary);
    width: 50%;
    font-weight: 500;
    border: none;
    border: 2px solid var(--primary);
    border-radius: 10px;
    text-align: center;
}