/* products */
.cont{
    position: relative;
    max-width: 300px;
    min-width: 300px;
    height: 460px;
    max-height: 460px;
    margin: 20px auto;
    overflow: hidden;
    background-color: var(--redcolor);
    background-color: var(--semi-white);
}

.cont div .sale{
    position: absolute;
    background-color: var(--red);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right:5%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.new{
    background-color: var(--green )!important;
}
    .lay{
        display: flex;
        place-items: center;
        overflow: hidden;
        width:100%;
        height: 542px;
        position: relative;
        transform: translateY(-200%) translateX(-100%);
        transition: 0.5s;
        background-color:var(--gray);
    }


.cont:hover .sale{
    display: none;
}

.lay button{
    margin-bottom: 50px;
    background-color:white;
    color: var(--primary);
    padding: 10px;
    width: 200px;
    border: none;
    font-size: 24px;
    font-weight: 700;
}

#product-image{
    border-radius: 16px;
    width: 600px;
    height: 400px;
}

.new{
    background-color: var(--greencolor )!important;
}

.des{
    padding: 20px;
    color: black;
}




.cont:hover .lay{
    transform: translateY(-99%) translateX(0) !important;
} 


/* footer */
ul li input{
    border: none;
    outline: none;
    border-bottom: black 3px solid;
}
ul li .subscribe{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: black 3px solid;
}
/* footer */

@media(max-width:520px){
    .products-show .row{
        margin: 0 !important;
        margin-bottom: 3rem !important;
    }

    .products-show{
        padding: 0;
        padding-bottom: 3rem;
    }
}
@media(min-width:992px) and (max-width:1100px){
    .cont:hover .lay{
        transform: translateY(-92%) !important;
 
    }
}
@media(min-width:1250px) and (max-width:1400px){
    .cont:hover .lay{
        transform: translateY(-91%) !important;
 
    }
}
@media(min-width:950px) and (max-width:1400px){
    .cont{
        min-width: auto;
    }
} 
@media(min-width:768px) and (max-width:850px){
    .products-show{
        padding: 0.5rem !important;
    }
}
@media(min-width:1260px) {
  .col-hey{
        flex: 0 0 auto;
        width: 25%;
    }
}

*::selection{
    background-color: var(--color);
    color: white;
}

.stars {
    display:inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    cursor: pointer;
    margin-top: -10px;
    margin-left: -16px;
}
.stars input {
    display: none;
}
.stars label {
    font-size: 2rem;
    color: lightgray;
    padding: 0 5px;
}
.stars input:checked ~ label,
.stars input:hover ~ label {
    color: #FFC700;
}

.size{
    background-color: var(--color3);
    padding: 0.5em;
    width: 10px;
    margin: 0 0.2em;
    text-transform: uppercase;    
    height: 10px;
    border-radius: 10px;
}

.size.active{
    color: white;
    background-color: var(--primary);
}


#product-image{
    width: 410px;
    height: 460px;
}